/* ========== Colors ========== */
:root {
  --color-white: #FFFFFF;
  --color-grey: #666666;
  --color-red: #E40139;
  --color-blue: #242E86;
  --color-black: #000000;
}

/* ========== Fonts ========== */
@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/DINNextLTArabic-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/DINNextLTArabic-Heavy.ttf");
  font-weight: 900;
}
/* ========== Initialize setup ========== */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DinNextLt", Helvetica, sans-serif, serif, arial;
  font-weight: 300;
  transition: all 0.35s linear;
}

html {
  font-size: 32%;
  direction: rtl;
  scroll-behavior: smooth;
}
@media (min-width: 48.8em) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 120em) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.8rem;
  color: var(--color-grey);
  font-family: "DinNextLt", Helvetica, sans-serif, serif, arial;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
  line-height: 1;
  background: var(--color-white) repeat center/cover url("../img/bg.svg");
}
body.active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 1.4rem;
  height: 1.4rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #BBB;
  outline: 1px solid #BBB;
}

:focus {
  outline: 1px solid var(--color-red);
}

a {
  text-decoration: none;
}

figure,
p {
  margin: 0;
}

p {
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

@-webkit-keyframes moreBtnPulseRight {
  0% {
    right: -4.5rem;
  }
  50% {
    right: -6rem;
  }
  100% {
    right: -4.5rem;
  }
}

@keyframes moreBtnPulseRight {
  0% {
    right: -4.5rem;
  }
  50% {
    right: -6rem;
  }
  100% {
    right: -4.5rem;
  }
}
@-webkit-keyframes moreBtnPulseLeft {
  0% {
    left: -4.5rem;
  }
  50% {
    left: -6rem;
  }
  100% {
    left: -4.5rem;
  }
}
@keyframes moreBtnPulseLeft {
  0% {
    left: -4.5rem;
  }
  50% {
    left: -6rem;
  }
  100% {
    left: -4.5rem;
  }
}
/* ========== General Classes ========== */
.container {
  padding: 0 3rem;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  background-color: var(--color-white);
}
@media (min-width: 48.8em) {
  .container {
    max-width: 125rem;
  }
}
@media (min-width: 64em) {
  .container {
    max-width: 137rem;
  }
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.is-red {
  color: var(--color-red);
}

.font-heavy {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

/* ========== General styles ========== */
.relative {
  position: relative;
  z-index: 0;
}

.section {
  padding: 17rem 0;
}

.section-title {
  font-size: 4rem;
}

.img-wrapper {
  position: relative;
}
.img-wrapper::before {
  content: "";
  display: block;
  padding-top: 67%;
}
.img-wrapper .img {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.img-wrapper .img img {
  display: block;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ========== FlexBox Classes ========== */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

.items-baseline {
  align-items: baseline;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-even {
  justify-content: space-evenly;
}

/* ========== Style SVG ========== */
.svg-resize-55 {
  width: 5.5rem;
  height: 5.5rem;
}
.svg-resize-60 {
  width: 6rem;
  height: 6rem;
}
.svg-resize-75 {
  width: 7.5rem;
  height: 7.5rem;
}
.svg-resize-80 {
  width: 8rem;
  height: 8rem;
}

.btn-more {
  margin-top: 8rem;
  padding-bottom: 1rem;
  color: var(--color-white);
  font-size: 3rem;
  max-width: 34.4rem;
  width: 100%;
  height: 9rem;
  border: 2px solid var(--color-blue);
  border-radius: 1.85rem;
  background-color: var(--color-blue);
  position: relative;
  z-index: 0;
}
.btn-more::before, .btn-more::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.btn-more::before {
  right: -4.3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='' height='' viewBox='0 0 20.463 20.399'%3E%3Cpath id='Path_8' data-name='Path 8' d='M1154.284,6480.518v20.4l20.463-10.2Z' transform='translate(-1154.284 -6480.518)' fill='%23dbcc40'/%3E%3C/svg%3E%0A");
}
.btn-more::after {
  left: -4.3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='' height='' viewBox='0 0 20.463 20.399'%3E%3Cpath id='Path_9' data-name='Path 9' d='M764.716,6480.518v20.4l-20.463-10.2Z' transform='translate(-744.253 -6480.518)' fill='%23dbcc40'/%3E%3C/svg%3E%0A");
}
.btn-more:hover, .btn-more:focus {
  border-color: var(--color-red);
  background-color: var(--color-red);
}
.btn-more:hover::before, .btn-more:focus::before {
  -webkit-animation: moreBtnPulseRight 1s infinite;
          animation: moreBtnPulseRight 1s infinite;
}
.btn-more:hover::after, .btn-more:focus::after {
  -webkit-animation: moreBtnPulseLeft 1s infinite;
          animation: moreBtnPulseLeft 1s infinite;
}
.btn-footer {
  line-height: 3rem;
  text-align: center;
  font-size: 2.1rem;
  width: 22rem;
  height: 3.7rem;
  border-radius: 1.85rem;
  color: var(--color-blue);
  border: 1px solid #DBCC40;
  background-color: #DBCC40;
}
.btn-footer:hover, .btn-footer:focus {
  border-color: var(--color-blue);
  background-color: var(--color-white);
}

.header .container {
  padding: 0;
  padding-top: 11.7rem;
}
.header-img .main-img {
  width: 100%;
}

main .container {
  padding: 4.6rem 5rem 8.75rem;
}
@media (min-width: 36em) {
  main .container {
    padding: 4.6rem 10rem 8.75rem;
  }
}
@media (min-width: 64em) {
  main .container {
    padding: 4.6rem 14rem 8.75rem;
  }
}

.search {
  padding-bottom: 8.6rem;
}
.search form:focus-within input[type=submit] {
  opacity: 1;
  visibility: visible;
}
.search .form-group {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 83.8rem;
  width: 100%;
  margin: 0 auto;
}
.search .form-group label {
  color: var(--color-grey);
  font-size: 3rem;
  margin-bottom: 2.7rem;
}
.search .form-group label span {
  font-weight: 900;
  color: var(--color-red);
}
.search .form-group input[type=submit] {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  border: none;
  width: 3rem;
  height: 3rem;
  left: 3.5rem;
  top: 70%;
  transform: translateY(-50%);
  background: no-repeat center/contain url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20.463 20.399'%3E%3Cpath id='Path_9' data-name='Path 9' d='M764.716,6480.518v20.4l-20.463-10.2Z' transform='translate(-744.253 -6480.518)' fill='%23dbcc40'/%3E%3C/svg%3E%0A");
}
.search .form-group input[type=submit]:hover {
  background: no-repeat center/contain url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20.463 20.399'%3E%3Cpath id='Path_9' data-name='Path 9' d='M764.716,6480.518v20.4l-20.463-10.2Z' transform='translate(-744.253 -6480.518)' fill='%23e40139'/%3E%3C/svg%3E%0A");
}
.search .form-group input[type=submit]:focus {
  transform: translate(-1rem, -50%);
  outline: none;
  background: no-repeat center/contain url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20.463 20.399'%3E%3Cpath id='Path_9' data-name='Path 9' d='M764.716,6480.518v20.4l-20.463-10.2Z' transform='translate(-744.253 -6480.518)' fill='%23e40139'/%3E%3C/svg%3E%0A");
}
.search .form-control {
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
  height: 9rem;
  padding: 2rem 4rem;
  border-radius: 4.2rem;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
}
@media (min-width: 320px) {
  .search .form-control {
    padding: 2rem 12.4rem;
  }
}

.brands {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(1, minmax(10rem, 1fr));
}
@media (min-width: 320px) {
  .brands {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }
}
@media (min-width: 36em) {
  .brands {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
  }
}
.brands-item {
  border: 1px solid #B3B3B3;
  border-radius: 2.8rem;
  height: 20.5rem;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 0;
}
.brands-item img {
  height: 13rem;
  width: 17rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 36em) {
  .brands-item img {
    width: 21rem;
  }
}
.brands-item--hover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  border-radius: 2.8rem;
  background-color: var(--color-red);
  padding: 2rem;
}
@media (min-width: 36em) {
  .brands-item--hover {
    padding: 3rem 4.5rem;
  }
}
@media (min-width: 64em) {
  .brands-item--hover {
    padding: 3rem 6.5rem;
  }
}
.brands-item--hover .content {
  height: 100%;
  width: 100%;
  border-radius: 1.3rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.75);
}
.brands-item--hover .content .title {
  line-height: 3.6rem;
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-blue);
}
.brands-item--hover .content .code {
  line-height: 3.6rem;
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-red);
}
.brands-item--hover .content .copy {
  line-height: 2.2rem;
  padding-bottom: 0.75rem;
  font-size: 2.27rem;
  color: var(--color-grey);
  border: 1px solid #CCCCCC;
  border-radius: 0.8rem;
  max-width: 16rem;
  width: 100%;
  margin-top: 0.8rem;
  -webkit-padding-start: 2.5rem;
          padding-inline-start: 2.5rem;
  background: #CCC no-repeat 90%/2rem url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.228' height='18.902' viewBox='0 0 19.228 18.902'%3E%3Cg id='Group_45' data-name='Group 45' transform='translate(-1006 -5597.31)'%3E%3Cg id='Group_44' data-name='Group 44'%3E%3Cpath id='Path_225' data-name='Path 225' d='M1025.066,5604.56l-3.089-3.088a.547.547,0,0,0-.391-.163H1013.7a1,1,0,0,0-1,1v12.91a1,1,0,0,0,1,1h10.533a1,1,0,0,0,1-1v-10.264A.55.55,0,0,0,1025.066,5604.56Zm-.946,10.545h-10.309v-12.688h7.221v2.093a1,1,0,0,0,1,1h2.092Z' fill='%23666'/%3E%3Cg id='Group_43' data-name='Group 43'%3E%3Cpath id='Path_226' data-name='Path 226' d='M1007.108,5598.417h10.3v1.771h1.107v-1.882a1,1,0,0,0-.995-1h-10.52a1,1,0,0,0-.995,1v12.91a1,1,0,0,0,.995,1h4.586V5611.1h-4.473Z' fill='%23666'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.brands-item:hover .brands-item--hover, .brands-item:focus .brands-item--hover {
  opacity: 1;
  visibility: visible;
}
.brands-item:hover .brands-item--hover .content, .brands-item:focus .brands-item--hover .content {
  transition-delay: 0.05s;
  transform: scale(1);
}

footer {
  background-color: var(--color-red);
}
footer .container {
  background-color: var(--color-red);
}

.copyrights {
  padding: 6rem 0;
}
.copyrights-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
@media (min-width: 36em) {
  .copyrights-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.copyrights-content p {
  font-size: 2.1rem;
  color: var(--color-white);
  margin-top: 3rem;
}
@media (min-width: 36em) {
  .copyrights-content p {
    margin-top: 0;
  }
}
.copyrights .footer-btns {
  display: flex;
  align-items: center;
}
.copyrights .footer-btns .btn-footer:first-child {
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
}