@keyframes moreBtnPulseRight {
  0% {
    right: -4.5rem;
  }

  50% {
    right: -6rem;
  }

  100% {
    right: -4.5rem;
  }
}

@keyframes moreBtnPulseLeft {
  0% {
    left: -4.5rem;
  }

  50% {
    left: -6rem;
  }

  100% {
    left: -4.5rem;
  }
}