/* ========== Colors ========== */
$white:#FFFFFF;
$grey: #666666;
$red: #E40139;
$blue: #242E86;
$black: #000000;


@function color($name) {
  @return var(--color-#{$name});
}

:root {
  --color-white: #FFFFFF;
  --color-grey: #666666;
  --color-red: #E40139;
  --color-blue: #242E86;
  --color-black: #000000;
}

/* ========== Fonts ========== */

@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/DINNextLTArabic-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/DINNextLTArabic-Bold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/DINNextLTArabic-Heavy.ttf");
  font-weight: 900;
}

// breakpoints
$HD: 120em;
$desktops: 64em;
$tablets: 48.8em;
$phones: 36em;